html, body, .grid-container {
	position: fixed;
	background-color: #000;
	height: 100%;
	width:100%;
	margin: 0;
}

.grid-container {
	background-color: #000000;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: 'red' 'red' 'green' 'green';
}

.dark-red {
	background-color: #2B0104;
}

.bright-red {
	background-color: #b00000;
}

.dark-green {
	background-color: #072B07;
}

.bright-green {
	background-color: #03b000;
}

#red {
	grid-area: red;
	position: relative;
}

#green {
	grid-area: green;
}

#circle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#circle {
	font-family: 'Menlo', sans-serif;
	font-style: italic;
	font-weight: bold;
	width: 600px;
	height: 600px;
	border-radius: 50%;
	font-size: 90px;			
	line-height: 600px;
	text-align: center;
}

.noParty {
	background: #111;
	color: #666;
}

.party {
	color: #000;
	background: #fff;
	-webkit-animation: rotation 2s infinite linear;
}

.infoText {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	font-family: 'Menlo', sans-serif;
	color: #404040;
	font-size: 30px;
}

.sensor {
	padding-left: 55px;
}

#playing-song{
	font-size: 50px;
	padding-right: 100px;
	padding-bottom: 100px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	text-align: right;
}

#green-sensor {
	padding-top: 30px;
}

#red-sensor {
	position: absolute;
	bottom: 0px;
	padding-bottom: 30px;
}

@-webkit-keyframes rotation {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(359deg);
	}
}
